@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100;300;400;500&display=swap');
@import './home.css';
@import './product.css';

/* Variable */
:root{
    --primary: #DAC404;
    --primaryHover: #dac50480;
}

html, body{
padding: 0;
margin: 0;
}

*{
    font-family: "Roboto", sans-serif;
    color: #FFF;
    font-weight: 300;
}

ul{
    padding: 0;
}

li{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
}
